body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    height: 100vh;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.login-container {
    background: var(--background-soft);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    width: 300px;
}

h2 {
    text-align: center;
    color: var(--primary-blue);
}

.input-group {
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--primary-soft);
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: var(--primary-blue);
    color: var(--primary-soft);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    color: var(--background-blue);
    background-color: var(--primary-orange);
}

.links {
    text-align: center;
    margin: 20px;
}

.links a {
    display: block;
    color: var(--primary-blue);
    text-decoration: none;
    margin-bottom: 10px;
}

.links a:hover {
    color: var(--primary-orange);
}