html {
    scroll-behavior: smooth;
}

body {
    font-family: "montserrat";
    width: 100%;
    background-color: var(--primary-soft);
}

.content{
    height: 85vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content .titulo{
    color: var(--primary-blue);
    margin-bottom: 20px;
}

.content .subtitulo{
    color: var(--primary-blue);
    margin-bottom: 50px;
}

.content .pets{
    display: flex;
    gap: 20px;
}

.pets .card{
    background-color: white;
    height: 400px;
    padding: 10px 15px;
    border: 2px solid var(--primary-orange);
    border-radius: 15px;
}

.pets .card img{
    width: 350px;
    height: 250px;
    border-radius: 15px 15px 0 0;
    margin-bottom: 15px;
}

.pets .card .info-pets{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    gap: 10px;
}

.pets .card .info-pets h4{
    color: var(--primary-blue);
    font-size: 20px;
    margin-bottom: 20px;
}

.pets .card .info-pets p{
    font-weight: 600;
    color: var(--primary-blue);
}