body {
    font-family: "montserrat";
    width: 100%;
    background-color: var(--primary-soft);
}

main {
    height: 100vh;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 250px;
}

.presentation .title {
    color: var(--primary-blue);
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
}

.presentation .subtitle {
    color: var(--primary-blue);
    font-size: 18px;
    font-weight: 600;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    margin-top: 30px;
}

.aviso {
    color: var(--primary-blue);
}

.card-content {
    border: 1px solid var(--background-soft);
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-soft);
    color: var(--primary-blue);
}

.card-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-content h1 {

    margin: 0;
    font-size: 1.5em;
}

.card-content p {
    color: var(--primary-blue);
    margin: 10px 0;
}

.card-content a {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--primary-blue);
    color: var(--primary-soft);
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.card-content a:hover {
    background-color: var(--primary-orange);
    cursor: pointer;
}
