html {
    scroll-behavior: smooth;
}

body {
    font-family: "montserrat";
    width: 100%;
    background-color: var(--primary-soft);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding: 50px;
}

.titulo{
    color: var(--primary-blue);
    font-size: 36px;
    margin-bottom: 50px;
}

.info-perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-gray);
    width: 90%;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.info-perfil p{
    font-size: 18px;
    color: var(--primary-blue);
    font-weight: 600;
}

.gerenciamento{
    display: flex;
    gap: 100px;
}

.gerenciamento .gerenciar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerenciamento .gerenciar h1{
    color: var(--primary-blue);
    font-size: 24px;
    margin-bottom: 40px;
}

.gerenciamento .gerenciar a{
    background-color: var(--primary-orange);
    color: var(--primary-soft);
    padding: 10px 40px;
    border-radius: 15px;
}

.gerenciamento .gerenciar a:hover{
    background-color: var(--primary-gray);
}
