html {
  scroll-behavior: smooth;
}

body {
  font-family: "montserrat";
  width: 100%;
  background-color: var(--primary-soft);
}

header {
  position: fixed;
  background-color: var(--primary-blue);
  color: var(--primary-soft);
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  z-index: 1000;
  padding: 15px 0;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: 30px;
  margin-left: 50px;
}

.header .logo h1{
font-size: 22px;
}

.header .logo img{
  height: 40px;
  width: 40px;
  margin-left: 20px;
}

.header ul {
  display: flex;
}

.header li {
  margin: 0 30px;
}

.header a {
  text-decoration: none;
  color: var(--primary-soft);
  transition: 0.3s ease-in-out;
}

.header a:hover {
  color: var(--primary-orange);
}

.banner{
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 750px;
  align-items: center;
  gap: 100px;
  background-color: var(--primary-soft);
}

.banner .banner-info{
  color: var(--primary-blue);
  margin-top: 100px;
  width: 700px;
  font-size: 26px;
  padding: 15px 15px;
}

.banner .banner-title{
  color: var(--primary-blue);
  margin-bottom: 10px;
  font-size: 48px;
}

.banner .banner-subtitle{
  margin-bottom: 30px;
}

.banner-text{
  line-height: 30px;
  margin-bottom: 30px;
}

.banner-text span{
  font-weight: 600;
  color: var(--primary-orange);
}

.banner .banner-img{
  background: url(../assets/pngwing.com.png) no-repeat;
  background-size: cover;
  margin-top: 50px;
  width: 800px;
  height: 500px;
  padding: 40px 20px;
}

.banner .banner-info .link{
  background-color: var(--primary-orange);
  color: var(--primary-red);
  padding: 8px 30px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

.banner .banner-info .link:hover {
  background-color: var(--primary-red);
  color: var(--primary-soft);
}

.divider{
  height: 1px;
  width: 100%;
  background-color: var(--background-soft);
}

.nosso-trabalho{
  display: flex;
  justify-content: center;
  background-size: cover;
  height: 750px;
  align-items: center;
  gap: 100px;
  background-color: var(--primary-soft);
}

.nosso-trabalho .trabalho-info{
  color: var(--primary-blue);
  margin-top: 100px;
  width: 700px;
  padding: 15px 15px;
}

.nosso-trabalho .trabalho-title{
  color: var(--primary-blue);
  margin-bottom: 50px;
  font-size: 36px;
}

.trabalho-text{
  line-height: 30px;
  margin-bottom: 30px;
  font-size: 24px;
}

.nosso-trabalho .trabalho-img{
  background: url(../assets/pexels-blue-bird-7210754.jpg) no-repeat;
  background-size: cover;
  margin-top: 50px;
  width: 800px;
  height: 500px;
  padding: 40px 20px;
}

.service{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.service .service-title{
  color: var(--primary-blue);
  margin-bottom: 50px;
  margin-top: 60px;
  font-size: 36px;
}

.service .cards{
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-bottom: 50px;
}

.service .cards .service-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 10px 10px 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.service .cards .service-card .service-subtitle{
  color: var(--primary-soft);
  margin-bottom: 15px;
}

.service .cards .service-card .info{
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  max-width: 350px;
  color: var(--primary-blue);
}

.service .cards .service-card .img{
  height: 80px;
  width: 80px;
  margin-bottom: 20px;
  border-radius: 15px 15px 0 0;
}

.service .cards .service-card .adocoes{
  background: url(../assets/icon01.png) no-repeat;
  background-size: cover;
}

.service .cards .service-card .voluntariado{
  background: url(../assets/icon02.png) no-repeat;
  background-size: cover;
}

.service .cards .service-card .contribuicoes{
  background: url(../assets/icon03.png) no-repeat;
  background-size: cover;
}

.depoimentos{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

.depoimentos .depoimento-title{
  color: var(--primary-blue);
  text-align: center;
  max-width: 480px;
  font-size: 36px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.depoimentos .depoimento-cards{
  display: flex;
  gap: 100px;
}

.depoimentos .depoimento-card{
  display: flex;
  flex-direction: column;
  max-width: 540px;
  padding: 60px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.depoimentos .depoimento-card .depoimento-text{
  color: var(--primary-blue);
  font-size: 18px;
  margin-bottom: 15px;
}

.depoimentos .depoimento-card .depoimento-text span{
  color: var(--primary-red);
  font-weight: 700;
}

.depoimentos .depoimento-card .depoimento-user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.depoimentos .depoimento-card .depoimento-user .avatar{
  height: 32px;
  width: 32px;
  border-radius: 50%;
}

.contato{
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 400px;
}

.contato .zap{
  color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 400px;
}

.contato .zap .zap-title{
  font-size: 36px;
}

.contato .zap .zap-text{
  font-size: 18px;
  margin-bottom: 30px;
}

.contato .zap .zap-link{
  background-color: var(--primary-orange);
  color: var(--primary-red);
  padding: 10px 30px;
  border-radius: 18px;
  transition: 0.3s ease-in-out;
}

.contato .zap .zap-link:hover{
  background-color: var(--primary-red);
  color: var(--primary-soft);
}

.contato .zap .zap-link i{
  margin-right: 10px;
}

.contato .contatos{
  color: var(--primary-blue);
  display: flex;
  flex-direction: column;
  font-size: 18px;
  gap: 20px;
}

.contato .contatos i{
  margin-right: 20px;
}

footer{
  background-color: var(--primary-blue);
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 10px 60px;
}

.social .info {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-soft);
  border: var(--primary-soft) solid 1px;
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  margin-right: 15px;
  transition: 0.3s ease-in-out;
}

.social .info-text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--primary-soft);
}

.social .social-icons {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 25px;
}

.social .social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-soft);
  border: var(--primary-soft) solid 1px;
  border-radius: 50%;
  padding: 7px;
  width: 50px;
  height: 50px;
  margin-right: 15px;
  transition: 0.3s ease-in-out;
}

.social .social-link:hover {
  color: var(--primary-orange);
  border: var(--primary-orange) solid 1px;
}

.credits {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--primary-soft);
}

.credits a {
  color: var(--primary-soft);
}

.credits a:hover {
  color: var(--primary-orange);
}
