html {
    scroll-behavior: smooth;
}

body {
    font-family: "montserrat";
    width: 100%;
    background-color: var(--primary-soft);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    padding: 50px;
}

.header {
    position: fixed;
    background-color: var(--primary-blue);
    color: var(--primary-soft);
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    z-index: 1000;
    padding: 15px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 30px;
    margin-left: 50px;
}

.logo h1 {
    font-size: 22px;
}

.logo img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 700px;
}

.header .sessoes {
    display: flex;
}

.header .sessoes .sessao-btn {
    margin: 0 30px;
}

.header .login-btn {
    display: flex;
}

.header .login-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .login-btn .divisor {
    background-color: var(--background-soft);
    height: 40px;
    width: 1px;
}

.header a {
    text-decoration: none;
    color: var(--primary-soft);
    transition: 0.3s ease-in-out;
}

.header a:hover {
    color: var(--primary-orange);
}

.titulo{
    font-size: 36px;
    margin-bottom: 50px;
}

.info-perfil{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--primary-gray);
    width: 90%;
    padding: 50px;
    border-radius: 15px;
    margin-bottom: 100px;
}

.info-perfil p{
    font-size: 18px;
    color: var(--primary-blue);
    font-weight: 600;
}

.gerenciamento{
    display: flex;
    gap: 100px;
}

.gerenciamento .gerenciar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gerenciamento .gerenciar h1{
    color: var(--primary-blue);
    font-size: 24px;
    margin-bottom: 40px;
}

.gerenciamento .gerenciar a{
    background-color: var(--primary-orange);
    color: var(--primary-soft);
    padding: 10px 40px;
    border-radius: 15px;
}

.gerenciamento .gerenciar a:hover{
    background-color: var(--primary-gray);
}

footer {
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 10px 60px;
}

.social .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.social .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    border: var(--primary-soft) solid 1px;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}

.social .info-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-soft);
}

.social .social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px;
}

.social .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    border: var(--primary-soft) solid 1px;
    border-radius: 50%;
    padding: 7px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}

.social .social-link:hover {
    color: var(--primary-orange);
    border: var(--primary-orange) solid 1px;
}

.credits {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--primary-soft);
}

.credits a {
    color: var(--primary-soft);
    transition: 0.3s ease-in-out;
}

.credits a:hover {
    color: var(--primary-orange);
}
