:root{
    /*colors*/
    --primary-orange: #EC8F05;
    --primary-blue:#0C2340;
    --primary-soft: #E4E4E4;
    --primary-gray: #767676;
    --background-soft: rgba(255, 255, 255, 0.5);

    /*headings and texts*/
    --ff-texts: 'Montserrat', sans-serif;
}
