*{
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "montserrat";
    width: 100%;
    background-color: var(--primary-soft);
}

.container{
    height: 100vh;
}

.header {
    position: fixed;
    background-color: var(--primary-blue);
    color: var(--primary-soft);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    z-index: 1000;
    padding: 15px 0;
}

.header .menu{
    display: none;
    width: 60px;
    height: 60px;
    align-self: flex-end;
}

.header nav label{
    display: flex;
    flex-direction: column;
}

.header .hamburguer{
    background-color: var(--primary-blue);
    position: relative;
    display: block;
    width: 30px;
    height: 2.5px;
    top: 20px;
    left: 20px;
    transition: 0.5s ease-in-out;
}

.header .hamburguer:before,
.header .hamburguer:after{
    background-color: var(--primary-blue);
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.3s ease-in-out;
}

.header .hamburguer:before{
    top: -10px;
}

.header .hamburguer:after{
    bottom: -10px;
}

.header input{
    display: none;
}

.header input:checked ~ label .hamburguer{
    transform: rotate(45deg);
}

.header input:checked ~ label .hamburguer:before{
    transform: rotate(90deg);
    top: 0;
}

.header input:checked ~ label .hamburguer:after{
    transform: rotate(90deg);
    bottom: 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 50px;
}

.logo h1 {
    font-size: 22px;
}

.logo img {
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

.header .sessoes {
    display: flex;
    margin-right: 100px;
}

.header .sessoes .sessao-btn {
    margin: 0 30px;
}

.header .login-btn {
    display: flex;
}

.header .login-btn {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .login-btn .divisor {
    background-color: var(--background-soft);
    height: 40px;
    width: 1px;
}

.header a {
    text-decoration: none;
    color: var(--primary-soft);
    transition: 0.3s ease-in-out;
}

.header a:hover {
    color: var(--primary-orange);
}

.container {
    display: flex;
    height: 100vh;
}

.instructions, .form {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.instructions {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
}

.form form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input[type="text"], textarea, input[type="file"] {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}

textarea {
    height: 100px;
    resize: none;
}

button {
    padding: 10px;
    background-color: #102133;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #004494;
}


footer {
    background-color: var(--primary-blue);
    display: flex;
    flex-direction: column;
}

.social {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding: 10px 60px;
}

.social .info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;
}

.social .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    border: var(--primary-soft) solid 1px;
    border-radius: 50%;
    padding: 10px;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}

.social .info-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--primary-soft);
}

.social .social-icons {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 25px;
}

.social .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-soft);
    border: var(--primary-soft) solid 1px;
    border-radius: 50%;
    padding: 7px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
    transition: 0.3s ease-in-out;
}

.social .social-link:hover {
    color: var(--primary-orange);
    border: var(--primary-orange) solid 1px;
}

.credits {
    display: flex;
    justify-content: center;
    padding: 10px;
    color: var(--primary-soft);
}

.credits a {
    color: var(--primary-soft);
}

.credits a:hover {
    color: var(--primary-orange);
}